@model Betabit.Weather.WebApp.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
    <h1>Create</h1>

    <form action="/" method="post">
        <input type="text" name="Name" value="" />

        <input type="submit" name="save" value="Save"/>
    </form>
</body>
</html>